<!--
   add class="rest-name"  to the element that displays the author name
   add class="rest-neighborhood"  to the element that displays the neighborhood of the restaurant
    use ionic list and item classes for list
   add class="item"  to the container that holds all elements(clickable like anchor tag) 
-->
<ion-view view-title="Restaurants" has-header="true" padding="true">
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left" ng-repeat="restaurant in restaurants" href="#/details/{{restaurant.id}}">
        <i class="icon ion-pizza"></i>
        <h2 class="rest-name">Name: {{restaurant.name}}</h2>
        <span class="rest-neighborhood">Neighborhood: {{restaurant.neighborhood}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>